body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.text-2 p,
div p {
  margin-bottom: 1em;
}

.container {
  float: left;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.wrapper {
  float: left;
  clear: both;
}

._container {
  clear: both;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

._element {
  position: relative;
  z-index: 5;
  width: 231.2138728323%;
  height: 149px;
  margin-left: -103.65975%;
}

.container-1 {
  height: 186px;
}

.container-3 {
  height: 556px;
  margin-top: 45px;
  padding-top: 20px;
}

.text-1 {
  width: 69.5%;
  min-height: 62px;
  padding: 20px;
}

.text-2 {
  clear: both;
  width: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 70.2586206896%;
  min-height: 149px;
  margin-top: -149px;
}

.text-4 {
  width: 83.7288135593%;
  min-height: 136px;
}

.wrapper-1 {
  position: relative;
  z-index: 7;
  width: 29.8275862068%;
  min-width: 90px;
  height: 186px;
  margin: -169px 0 0 71.8965517241%;
  overflow: hidden;
}

.wrapper-2 {
  width: 16.1016949152%;
  min-width: 50px;
  max-width: 200px;
  height: 534px;
  margin: -514px 0 0 84.5762711864%;
  overflow: visible;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #4a8f7c;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 strong {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 3em;
  font-weight: 700;
  color: #000000;
}

.text-2 strong {
  font-family: inherit;
  font-style: inherit;
  font-size: 1.375em;
  font-weight: inherit;
  color: inherit;
}

.text-4 strong {
  font-family: inherit;
  font-style: inherit;
  font-size: 1.375em;
  font-weight: inherit;
  color: #000000;
}